@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default;
}

@font-face {
	font-family: "outlit";
	src: url("./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf")
		format("truetype");
	font-style: normal;
}

body {
	font-family: "Outlit", sans-serif;
}

@theme {
	/* Custom CSS Variables */
	--color-primary-color: #be5985;
	--color-primary-color-100:#fff3f7;
	--color-primary-color-500: #9b476b;
	--color-light-color: #fcf6f8;
	--color-light-color-300:#ffecf2;

	--color-secondary-color: #9fb3df;
	--color-error-color:#e7000b;
	--color-paragraph-color:#565656;
	--color-header-color:#414141;
	

	/* Text Contrast Customizations */
	--color-white-color: #ffffff;
	--color-black-color: #000000;

	/* Custom Font Sizes*/
	--text-header-lg: 3rem;
	--text-header-md: 2rem;
	--text-header-sm: 1.125rem;
	--text-subheader-lg: 1.125rem;
	--text-subheader-md: 1rem;
	--text-subheader-sm: 0.875rem;
	--text-paragraph-lg: 1.125rem;
	--text-paragraph-md: 1rem;
	--text-paragraph-sm: 0.875rem;
	--text-paragraph-xs: 0.75rem;
}
